.built-integration {
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  border-bottom: 1px solid rgb(223, 221, 221);
  position: relative;

  &__programs {
    margin-left: 320px;
    position: relative;
    opacity: 1;
    top: 0;

    & img {
      position: absolute;
    }

    & :nth-child(1) {
      position: inherit;
    }

    .js-icon {
      left: 38px;
      top: 125px;
    }

    .html-icon {
      top: 37px;
      left: 128px;
    }

    .git-icon {
      top: 83px;
      left: 243px;
    }

    .swift-icon {
      right: 186px;
      top: 212px;
    }

    .php-icon {
      top: 28px;
      right: 200px;
    }

    .code-icon {
      top: 176px;
      right: 70px;
    }
  }

  &__content {
    width: 410px;
    margin-left: 100px;

    & h3 {
      font-size: 36px;
      font-family: "Poppins", sans-serif;
      color: rgb(36, 47, 81);
      font-weight: 600;
      line-height: 1.278;
      margin-bottom: 32px;
    }

    & span {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: rgb(97, 99, 104);
      line-height: 1.625;
    }

    &-btn {
      margin-top: 45px;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .built-integration {
    &__programs {
      margin-left: 220px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .built-integration {
    &__programs {
      margin-left: 120px;
    }
  }
}

@media only screen and (max-width: 1260px) {
  .built-integration {
    &__programs {
      margin-left: 70px;
    }
  }
}
