.download-app {
  display: flex;
  align-items: center;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: 75px 0 75px 200px;

    &-caption {
      font-size: 48px;
      font-family: "Poppins", sans-serif;

      color: rgb(36, 47, 81);
      font-weight: 600;
      line-height: 1.208;
    }

    &-caption-text {
      margin-top: 40px;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: rgb(97, 99, 104);
      line-height: 1.625;
    }
  }

  &__stores {
    margin-top: 52px;

    &-app-store {
      margin-left: 35px;
    }
  }

  &__right-object {
    position: absolute;
    right: 0;
    bottom: -60px;
  }
}

@media only screen and (max-width: 1650px) {
  .download-app {
    &__container {
      margin: 75px 0 75px 100px;
    }
  }
}
