.feedback {
  padding-top: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__client-icon {
  position: relative;
}

.feedback__client-icon img:first-child {
  position: relative;
}

.feedback__client-icon img {
  position: absolute;
}

.feedback__client-icon .left-man {
  top: 110px;
  left: 40px;
}

.feedback__client-icon .center-left-girl {
  top: 250px;
  left: 58px;
}

.feedback__client-icon .top-girl {
  top: -15px;
  left: 32%;
}

.feedback__client-icon .center-man {
  top: 35%;
  left: 35%;
}

.feedback__client-icon .bottom-man {
  bottom: 0;
  left: 235px;
}

.feedback__client-icon .right-man {
  bottom: 160px;
  right: 30%;
}

.feedback__client-icon .top-right-man {
  right: 145px;
  top: 35px;
}

.feedback__container {
  width: 610px;
  margin-left: 100px;
}

.feedback__container-caption {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #242f51;
  font-weight: 600;
  line-height: 1.25;
}

.feedback__container-caption-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #616368;
  line-height: 1.625;
  margin-top: 25px;
}

.feedback__container_stars {
  margin-top: 42px;
}

.feedback__container_testimonial {
  margin-top: 30px;
}

.feedback__container_testimonial-caption {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #242f51;
  font-weight: 600;
  line-height: 2.9;
}

.feedback__container_testimonial-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #616368;
  line-height: 1.625;
}

.feedback__container_testimonial_user {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__container_testimonial_user_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__container_testimonial_user_wrapper_info {
  margin-left: 25px;
}

.feedback__container_testimonial_user_wrapper_info-name {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #242f51;
  font-weight: 600;
}

.feedback__container_testimonial_user_wrapper_info-profession {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #616368;
}

.feedback__container_testimonial_user_switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__container_testimonial_user_switch-line {
  width: 1px;
  height: 15px;
  background-color: #d1d1d3;
}

.feedback__container_testimonial_user_switch :checked + label {
  color: #2500f9;
  background-color: #cce1fa;
}

.feedback__container_testimonial_user_switch .label {
  margin: 0 5px 0 5px;
  font-size: 13px;
  padding: 7px 7px;
  color: #bdbdbe;
  border-radius: 50%;
  border: 1px solid #d1d1d3;
}

.feedback__container_testimonial_user_switch-button {
  display: none;
}
/*# sourceMappingURL=feedback.css.map */