.feedback {
  padding-top: 155px;
  display: flex;

  &__client-icon {
    position: relative;

    & img {
      position: absolute;
      opacity: 1;
    }

    .map {
      position: relative;
      opacity: 1;
    }

    .left-man {
      top: 110px;
      left: 40px;
    }

    .center-left-girl {
      top: 250px;
      left: 58px;
    }

    .top-girl {
      top: -15px;
      left: 32%;
    }

    .center-man {
      top: 35%;
      left: 35%;
    }

    .bottom-man {
      bottom: 0;
      left: 235px;
    }

    .right-man {
      bottom: 160px;
      right: 30%;
    }

    .top-right-man {
      right: 145px;
      top: 35px;
    }
  }

  &__container {
    width: 610px;
    margin-left: 100px;

    &-caption {
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      color: rgb(36, 47, 81);
      font-weight: 600;
      line-height: 1.25;
    }

    &-caption-text {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: rgb(97, 99, 104);
      line-height: 1.625;
      margin-top: 25px;
    }

    &_stars {
      margin-top: 42px;
    }

    &_testimonial {
      margin-top: 30px;

      &-caption {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        color: rgb(36, 47, 81);
        font-weight: 600;
        line-height: 2.9;
      }

      &-text {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: rgb(97, 99, 104);
        line-height: 1.625;
      }

      &_user {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        &_wrapper {
          display: flex;
          align-items: center;

          &_info {
            margin-left: 25px;
            &-name {
              font-size: 18px;
              font-family: "Poppins", sans-serif;
              color: rgb(36, 47, 81);
              font-weight: 600;
            }

            &-profession {
              font-size: 18px;
              font-family: "Poppins", sans-serif;
              color: rgb(97, 99, 104);
            }
          }
        }

        &_switch {
          display: flex;
          align-items: center;

          &-line {
            width: 1px;
            height: 15px;
            background-color: rgb(209, 209, 211);
          }

          & :checked + label {
            color: rgb(37, 0, 249);
            background-color: rgb(204, 225, 250);
          }

          & .label {
            margin: 0 5px 0 5px;
            font-size: 13px;
            padding: 7px 7px;
            color: rgb(189, 189, 190);
            border-radius: 50%;
            border: 1px solid rgb(209, 209, 211);
          }

          &-button {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1580px) {
  .feedback {
    &__container {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 1460px) {
  .feedback {
    display: flex;
    align-items: center;

    &__client-icon {
      position: relative;

      & img:first-child {
        width: 773px;
      }

      & img {
        position: absolute;
      }

      .left-man {
        top: 110px;
        left: 40px;
      }

      .center-left-girl {
        top: 250px;
        left: 58px;
      }

      .top-girl {
        top: -15px;
        left: 32%;
      }

      .center-man {
        top: 35%;
        left: 35%;
      }

      .bottom-man {
        bottom: 0;
        left: 235px;
      }

      .right-man {
        bottom: 160px;
        right: 30%;
      }

      .top-right-man {
        right: 145px;
        top: 35px;
      }
    }
  }
}
