.features-app {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  position: relative;

  &__images {
    &-gray-ellipse {
      left: 202px;
      top: 158px;
    }

    &-line-shape {
      left: 160px;
      top: 100px;
    }

    &-blue-ellipse {
      left: 105px;
      top: 155px;
    }

    &-light-purple-ellipse {
      left: 220px;
      bottom: 0;
    }

    &-purple-ellipse {
      top: 250px;
      left: 560px;
    }

    &-phone {
      left: 210px;
      top: -20px;
    }
  }

  &__images img {
    position: absolute;
  }

  &__content {
    width: 432px;

    &_caption {
      font-size: 36px;
      font-family: "Poppins", sans-serif;
      color: rgb(36, 47, 81);
      font-weight: bold;
      line-height: 1.278;
      margin-bottom: 30px;
    }

    &_caption-text {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      color: rgb(97, 99, 104);
      line-height: 1.625;
    }

    &_opportunities {
      display: flex;
      align-items: center;
      margin-top: 70px;

      &_wrapper {
        border-radius: 50%;
        width: 88px;
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_block {
        margin-left: 35px;
        width: 265px;

        &-caption {
          font-size: 20px;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          line-height: 2;
        }

        &-text {
          font-size: 16px;
          font-family: "Poppins", sans-serif;
          color: rgb(97, 99, 104);
          line-height: 1.625;
        }
      }
    }
  }
}

.red-ellipse {
  background-color: rgba(248, 197, 205, 0.849);
}

.blue-ellipse {
  background-color: rgba(194, 217, 255, 0.623);
}

.green-ellipse {
  background-color: rgba(186, 251, 210, 0.835);
}

.red-caption {
  color: rgb(245, 87, 103);
}

.blue-caption {
  color: rgb(37, 99, 255);
}

.green-caption {
  color: rgb(64, 151, 95);
}

@media only screen and (max-width: 1600px) {
  .features-app {
    &__images {
      margin-right: 400px;
    }
  }
}
